.header {
    height: var(--header-height);
    background-image: linear-gradient(#f7462e, #f7472e);
}

.header__navber {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item:hover .header__qr {
    display: block !important;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block; 
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-iocn-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-iocn-link :hover,
.header__navbar-item-link :hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #fdd6d1;
    height: 16px;
    right: -9px;
    top: 50%;
    transform:  translateY(-50%);
}

.header__navbar-item-link{
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}
.header__qr {
    width: 186px;
    background-color: var(--white-color);
    position:absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display:none;
    animation: fadeIn ease-in 1s;

}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 18%;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;

}

.header__qr-apps {
    display: flex;
    justify-content: space-between;

}

.header__qr-link :nth-child(1) {
    margin-left: 11px;
}

.header__qr-link :nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;

}

/* Header notification */
.header__notification {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid #f1f3f4;
    background-color: var(--white-color);
} 
.header__notification-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notification-header h3 {
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 40px;
}
.header__notification-list {
    padding-left: 0;
}

.header__notification-item {
    display: flex;
}

.header__notification-item:hover {
    background-color: #f1f1f1;
}

.header__notification-item--viewed {
    background-color: rgba(235, 45, 7, 0.1);
}
.header__notification-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}
.header__notification-img {
    width: 48px;
    object-fit:contain;
}
.header__notification-info {
    margin-left: 12px;

}
.header__notification-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
}
.header__notification-descriotion {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;

} 

.header__notification-footer {
    text-align: center;
}

.header__notification-footer-btn {
    text-decoration: none;
    color: var(--black-color);
    padding: 16px 16px;
}

/* Authen modal */

.auth-form {
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color:var(--text-color);
    cursor: pointer;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
}

.auth-form_form {
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}

.auth-form__themvao {
    margin-top: 18px;
}

.auth-form__chinhsach {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__chinhsach-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__dangkytrolai {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__dangkytrolai-black {
    margin-right: 8px;
}

.auth-form__mangxahoi {
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__mangxahoi-icon {
    font-size: 1.8rem;
}

.auth-form__mangxahoi--facebook {
    color: var(--white-color);
    background-color: #1755d0;
}

.auth-form__mangxahoi--facebook 
.auth-form__mangxahoi-icon {
    color: var(--white-color);
}

.auth-form__mangxahoi--title {
    margin: 0 16px;
}

.auth-form__mangxahoi--google {
    color: #666;
    background-color:var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-daucach {
    display: block;
    height: 22px;
    margin: 2px 16px 0;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-quen {
    color: var(--primary-color);
}

.header-nut-timkiem {
    height: var( --header-nut-timkiem-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
    color: var(--white-color);
}

.header__timkiem {
    flex: 1;
    height: 40px;
    border-radius: 2px;
    background-color:var(--white-color);
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-top: 6px;
}